{%load static%}

<!DOCTYPE html>
<html>
  <head>
    <title>Bizup</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
      integrity="sha512-Kv8z+uR79bTgT9Jd7v+8eHltw7TYspJkq3s7sTwQx1TLRi1TrT0T9GdH0Tzo52puCGl4OSmm4l0mH4sQ2aA6LQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"
      integrity="sha512-1aJ5++xPYiPZg70tZo3Xn77rgHhQD1RwR1yLaMJtCgfhgfzuhWJlrp/TT9If5ZDbTy+hOAVlaMjvgNnsMP5fNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha384-/T00a+N7pRv9StGECdn3Px3n4KrKZO+PJEnvf4qx/6LZ9QIhG6fPVC6PdI6MwsMl"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <script type="text/javascript">
      var user = "{{request.user}}";

      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken("csrftoken");

      function getCookie(name) {
        // Split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");

        // Loop through the array elements
        for (var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
          if (name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
          }
        }

        // Return null if not found
        return null;
      }
      var cart = JSON.parse(getCookie("cart"));

      if (cart == undefined) {
        cart = {};
        console.log("Cart Created!", cart);
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
      }
      console.log("Cart:", cart);
    </script>
  </head>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Raleway", sans-serif;
      height: 100vh;
    }

    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .center button {
      padding: 10px;
      font-size: 15px;
      font-weight: 600;
      color: #222;
      background: #f5f5f5;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'store' %}">Bizup</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'store' %}"
              >Store <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
          <!-- Main.html -->

          {% if user.is_authenticated %}
          <div class="d-flex align-items-center">
            <span class="m-3">{{ user.customer.store_name }}</span>

            <button type="button" class="btn btn-warning">
              <a href="{% url 'logout' %}">
                <i class="bi bi-person-fill me-2"></i>
                Logout
              </a>
            </button>
          </div>
          {% else %}
          <button
            type="button"
            class="btn btn-warning"
            id="registerBtn"
            onclick="window.location.href='{% url 'login' %}';"
          >
            Login
          </button>
          {% endif %}

          <a href="{% url 'cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}" />
          </a>
          <p id="cart-total">{{cartItems}}</p>

          <div></div>
        </div>
      </div>
    </nav>

    <div class="container">
      <br />
      {% block content %} {% endblock content %}
    </div>

    <!-- <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script> -->

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
  </body>
</html>
